/venv/
/venv_py2.7/
/venv_py3.8/
/venv_py3.11/

/.idea/
/*/__pycache__/
/begin_script/part_2/myfile.txt

/begin_script/part_5/tasks/scenario_0055_0001_0001_0001.log
/book2/part_6/chapter_28/persondb.bak
/book2/part_6/chapter_28/persondb.dat
/book2/part_6/chapter_28/persondb.dir
